Django>=5.1,<5.2
djangorestframework
djangorestframework-simplejwt
django-cors-headers
django-environ
psycopg2-binary
dj-database-url
django-elasticsearch-dsl
django-storages
boto3
django-sendgrid-v5
drf-yasg
cryptography
pycryptodome
pydantic
requests
pillow
python_paystack
gunicorn
whitenoise